---
interface Props {
  category?: string;
}

import ProductRepository from "@/data/repositories/ProductRepository";
import ProductCard from "../ProductCard.astro";
import type { Product } from "@/data/entities/Product";

const productRepository = new ProductRepository();

const { category } = Astro.props;

let products: Product[] = [];

if (category) {
  products = await productRepository.getProductsByCategory(category);
} else {
  products = await productRepository.getProducts(6);
}
---

<div
  class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-x-10 gap-y-20 py-20"
>
  {products.map((product) => <ProductCard product={product} />)}
</div>
