<article
  class="bg-white rounded-lg shadow-lg w-[300px] p-5 relative h-[200px] mx-auto"
>
  <p class="text-balance text-center">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus, dolores
    tempore? Cum autem eius delectus?
  </p>
  <figure
    class="absolute -translate-x-1/2 left-1/2 bottom-0 translate-y-1/2 flex items-center gap-x-2 flex-col"
  >
    <div class="w-16 h-16 rounded-full bg-primary"></div>
    <p class="text-black text-xl font-semibold">cristian viveros</p>
  </figure>
</article>
