---
import { IMAGES } from "@/lib/constants";
---

<form action="" class="relative w-full">
  <img
    src={IMAGES.svg.search}
    alt="search"
    class="w-5 h-5 absolute top-1/2 left-3 -translate-y-1/2"
  />
  <input
    type="text"
    placeholder="Buscar Producto"
    class="h-12 w-full rounded-full px-10 border-2 focus:border-primary focus:outline-none"
  />
</form>
