---
import ShopSection from "@/components/sections/ShopSection.astro";
import ShopSectionSkeleton from "@/components/sections/ShopSectionSkeleton.astro";
import ShopLayout from "@/layouts/ShopLayout.astro";
---

<ShopLayout>
  <section class="w-3/4">
    <header class="bg-pexels-photo w-full h-52 bg-cover bg-center rounded-xl">
      <div
        class="bg-black/50 h-full w-full rounded-xl flex items-center justify-between px-20 gap-x-10"
      >
        <div>
          <h3 class="text-white text-4xl font-bold">Suplementos</h3>
          <p class="text-white text-balance">
            Cumple tus objetivos con la mejor suplementación!
          </p>
        </div>
        <a
          href="#"
          class:list={[
            "text-white px-10 py-2 border-2 border-white rounded-lg",
            "hover:bg-primary transition-colors hover:border-primary duration-300",
          ]}>Ver Todos</a
        >
      </div>
    </header>
    <ShopSection server:defer>
      <ShopSectionSkeleton slot="fallback" />
    </ShopSection>
  </section>
</ShopLayout>
