---
import { ClientRouter } from "astro:transitions";

import Header from "@/components/Header.astro";
import NavBar from "@/components/NavBar.astro";
import { NAV_ITEMS } from "@/lib/constants";
import FooterSection from "@/components/sections/FooterSection.astro";

interface Props {
  title?: string;
  currentPath?: (typeof NAV_ITEMS)[number]["name"];
}

const { title = "Inicio", currentPath } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - Crv Store</title>
    <ClientRouter />
  </head>
  <body>
    <Header />
    <NavBar currentPath={currentPath} />
    <main>
      <slot />
    </main>
    <FooterSection />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Geist";
    src: url("/fonts/Geist[wght].ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  html {
    font-family: "Geist", system-ui, sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
  }
  ::selection {
    background-color: #f75806;
    color: #ffffff;
  }

  ::-webkit-selection {
    background-color: #f75806;
    color: #ffffff;
  }
</style>
